<div>
  <h2>Nouveau message : </h2>
  <h3>De : </h3>
  <div>
    <label for="pseudo"></label>
    <input type="text" id="pseudo" name="pseudo" required size="20">
  </div>
  <h3>Message : </h3>
  <div>
    <textarea id="message" name="message" rows="5" cols="50">
    </textarea>
  </div>


</div>

<div id="btn">
  <div>
    <input id="btnValider"
           type="button"
           value="Valider">
  </div>
  <div>
    <input id="btnAnnuler"
           type="button"
           value="Annuler">
  </div>
</div>
